// section-title area scss start
.section-title-area {
  margin-bottom: 70px;
}
.section-title {
  font-size: 36px;
  text-transform: capitalize;
}
// section-title area scss end

//  page-section scss start
.page-section {
  position: relative;
  background-image: url(../images/page-path-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    opacity: 0.75;
    z-index: -1;
  }
}
.page-details-area {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-details-title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.page-details {
  display: flex;
}
.page-details-item {
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  &::before {
    content: "\f101";
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    top: 50%;
    right: -7px;
    transform: translateY(-50%);
  }
  &:last-child {
    &::before {
      display: none;
    }
  }
}
.page-details-link {
  color: #fff;
  transition: 0.3s;
  &:hover {
    color: $main-color;
  }
}
//  page-section scss end

// page-section-2 scss start
.page-section-2 {
  .page-details-area {
    padding: 20px 0 30px 0;
    align-items: flex-start;
  }
  .page-details-item {
    color: #000;
    &::before {
      color: #000;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .page-details-link {
    color: #000;
    transition: 0.3s;
    &:hover {
      color: $main-color;
    }
  }
}
// page-section-2 scss end

// modal scss start
.modal {
  background-color: rgba(3, 31, 66, 0.329);
}
.modal-header {
  border-bottom: none;
  padding: 10px 15px;
}
.modal-dialog {
  max-width: 420px;
}
.modal-body {
  padding: 10px 15px;
}
.modal-title {
  font-size: 18px;
}
.modal-copy-link {
  position: relative;
  padding: 8px;
  margin: 20px;
  display: flex;
  border: 1px solid $color-2;
}
// modal scss end

// comment-box scss start
.comment-form {
  margin-bottom: 50px;
}
.comment-box {
  padding: 10px;
  width: 100%;
  height: 180px;
  border-radius: 5px;
  color: #575757;
  border: 1px solid #575757;
  resize: none;
  margin-bottom: 20px;
  &:focus {
    outline: none;
    border: 1px solid $main-color;
  }
  &::placeholder {
    color: #575757;
  }
}
// comment-box scss end
