/* keyframe start */
@keyframes banner-dotted {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* keyframe end */
