/* pagination-section start */
.pagination-section {
  margin-top: 50px;
}
.page-item {
  margin: 0 5px;
}
.page-link {
  padding: 8px 18px;
  border-radius: 5px;
  transition: 0.4s;
  &.active {
    background-color: $color-2;
    color: #fff;
    border: 1px solid $color-2;
  }
  &:hover {
    background-color: $color-2;
    color: #fff;
    border: 1px solid $color-2;
  }
  &:focus {
    box-shadow: none;
    background-color: $color-2;
    color: #fff;
    border: 1px solid $color-2;
  }
}
/* pagination-section end */
