@import "abstract/keyframe";
@import "abstract/mixin";
@import "abstract/variable";
@import "base/global";
@import "base/reset";
@import "base/typography";
@import "component/button";
@import "component/proggres";
@import "component/pagination";
@import "component/preloader";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
@import "pages/course";
@import "pages/course-details";
@import "pages/blog-list";
@import "pages/blog-details";
@import "pages/blog-grid";
@import "pages/instructor-grid";
@import "pages/instructor-details";
@import "pages/contact";
@import "pages/become-an-instructor";
@import "pages/cart";
@import "pages/sign-up";
@import "responsive/responsive";
