@import "abstract/keyframe";
@import "abstract/mixin";
@import "abstract/variable";
@import "base/global";
@import "base/reset";
@import "base/typography";
@import "component/button";
@import "component/proggres";
@import "component/pagination";
@import "layout/header";
@import "layout/footer";
@import "pages/index";
@import "pages/course";
@import "pages/course-details";
@import "pages/course-list";
@import "pages/sign-up";
