/* <=============== css table of content ===============>
1.keyframe
2.global
3.global
4.button
5.progress-wrap
6.pagination-section
7.preloader
8.header
9.footer-section
10.home-page
11.course-section
12.course-details-section
13.course-list-filter-item
14.blog-details-section
15.blog-grid-section
16.instructor-details-section
17.user-details
18.contact-section
19.become-instructor
20.about-section
21.cart-section
22.checkout-section
23.sing-up-section
24.demo-section
25.terms-section
26.Responsive Design
<=============== css table of content ===============> */

@import "abstract/keyframe";
@import "abstract/mixin";
@import "abstract/variable";
@import "base/global";
@import "base/reset";
@import "base/typography";
@import "component/button";
@import "component/proggres";
@import "component/pagination";
@import "component/preloader";
@import "layout/header";
@import "layout/footer";
@import "pages/demo";
@import "pages/index";
@import "responsive/responsive";
