//  footer-section scss start
.footer-section {
  margin-bottom: 0 !important;
  position: relative;
  padding-top: 80px;
  background-image: url(../images/page-path-bg.jpg);
  @include bg-img;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    opacity: 0.95;
    z-index: -1;
  }
}
.footer-logo {
  width: 250px;
}
.footer-top {
  padding-bottom: 60px;
}
.footer-logo-details {
  margin: 35px 0;
  color: rgb(219, 219, 219);
}
.footer-details-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-details-item {
  margin-bottom: 15px;
}
.footer-details-link {
  color: rgb(219, 219, 219);
  //   font-size: 15px;
  &:hover {
    color: #fff;
  }
}
.footer-social {
  display: flex;
  .instructor-social-link {
    i {
      color: rgb(219, 219, 219);
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
        color: #fff;
      }
    }
  }
}
.footer-social-title {
  color: rgb(219, 219, 219);
  margin-right: 10px;
}
.footer-bottom {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.footer-copyright {
  color: rgb(219, 219, 219);
  span {
    font-weight: 600;
  }
}
.footer-bottom-item {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}
.footer-bottom-item-area {
  display: flex;
  justify-content: end;
}
.footer-bottom-link {
  color: rgb(219, 219, 219);
  transition: 0.4s;
  &:hover {
    color: #fff;
  }
}
//  footer-section scss end
