// header scss start
.header-section {
  position: relative;
  z-index: 99;
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.header-bottom {
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.3);
  &.active {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: 1s;
    animation: header-animation 0.5s linear !important;
  }
  .navbar-nav {
    margin: 0 15px 0 0;
  }
}
.logo-area {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: $jost;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header-logo-icon {
  height: 60px;
  margin-right: 8px;
}
.navbar {
  padding: 0;
  justify-content: space-between;
}
.navbar-collapse {
  justify-content: space-between;
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-link {
  position: relative;
  font-family: $jost;
  color: #444 !important;
  transition: 0.4s;
  padding: 35px 0 !important;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 0;
    height: 2px;
    background-color: $main-color;
    transition: 0.4s;
  }
  &:hover {
    color: $main-color !important;
    &::before {
      width: 100%;
    }
  }
  &.active {
    color: $main-color !important;
    &::before {
      width: 100%;
    }
  }
}
.dropdown {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 30px;
    z-index: -1;
    background-color: transparent;
  }
  &:hover {
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      top: 70px;
    }
  }
  &:focus {
    .dropdown-menu[data-bs-popper] {
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.dropdown-menu {
  top: 85px;
  left: 50% !important;
  transform: translateX(-50%);
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  padding: 10px 0;
  background-color: $color-2;
  overflow: hidden;
  width: 300px;
  @media (max-width: 991px) {
    width: 100%;
    display: none;
    opacity: 1;
    visibility: visible;
    top: 0;
    border: none !important;
    margin: 0 0 10px 0;
  }
  &.show {
    @media (max-width: 991px) {
      display: block;
    }
  }
}
.dropdown-item {
  position: relative;
  padding: 15px 20px 15px 30px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  transition: 0.4s;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #0a2d53;
    color: #fff;
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  &:focus {
    background-color: #0a2d53;
    color: #fff;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    background-color: $main-color;
  }
  i {
    font-size: 22px;
    margin-right: 15px;
  }
}
.header-search-bar {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
}
.hdr-btn-area {
  margin-left: 20px;
}
.header-search-bar-input {
  border-radius: 5px;
  padding: 14px 20px;
  font-family: $jost;
  width: 100%;
  border: 1px solid #f0f0f0;
  // background-color: #f5f5f5;
  &:focus {
    background-color: #fff;
    border: 1px solid $main-color;
  }
}
.header-search-bar-icon {
  color: $main-color;
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
}
.hdr-category {
  display: flex;
  align-items: center;
  background-color: $color-2;
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  i {
    font-size: 27px;
    margin-right: 10px;
    transform: rotate(-180deg);
  }
  &:hover {
    color: #fff;
  }
}
.navbar-nav {
  margin: 0 10px 0 25px;
}
.header-top {
  padding: 15px 0;
  background-color: $color-2;
}
.header-top-details {
  margin-right: 30px;
  color: #fff;
  a {
    color: rgb(230, 230, 230);
    font-family: $jost;
    transition: 0.4s;
    &:hover {
      color: #fff;
    }
  }
  i {
    margin-right: 5px;
  }
}
.header-top-details-item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  a {
    i {
      font-size: 15px;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.hdr-cart {
  position: relative;
  margin: 0 25px;
  &:hover {
    color: #000;
  }
  i {
    font-size: 38px;
  }
}
.hdr-cart-number {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 22px;
  height: 22px;
  background-color: $main-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
}
.hdr-btn-area {
  .btn-1 {
    padding: 10px 20px;
  }
  .btn-2 {
    padding: 10px 20px;
    margin-right: 10px;
  }
}
// header scss end
