@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap");
@-webkit-keyframes banner-animation {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  20% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes banner-animation {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  20% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  color: #575757;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

span {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
  color: #fff;
}

input:focus {
  outline: none;
}

.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.header-bottom {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.3);
}

.header-logo {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-icon {
  height: 60px;
  margin-right: 8px;
}

.navbar {
  padding: 0;
}

.navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-nav {
  margin-left: 50px;
  margin-right: 50px;
}

.nav-link {
  position: relative;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #444 !important;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 35px 15px !important;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: #0099ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link:hover {
  color: #0099ff !important;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link.active {
  color: #0099ff !important;
  font-weight: 600;
}

.nav-link.active::before {
  width: 100%;
}

.header-search-bar {
  position: relative;
  margin-right: 10px;
}

.header-search-bar-input {
  border-radius: 5px;
  padding: 12px 20px;
  font-family: "Jost", sans-serif;
  width: 270px;
  border-color: transparent;
  background-color: #f5f5f5;
}

.header-search-bar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 25px;
  -webkit-transform: rotateY(180deg) translateY(-50%);
          transform: rotateY(180deg) translateY(-50%);
}

.category {
  color: #444;
  padding: 30px 15px;
  text-align: right;
}

.category:hover {
  color: #444 !important;
}

.category i {
  font-size: 30px;
}

.header-top {
  padding: 15px 0;
  background-color: #0099ff;
}

.header-top-details {
  margin-right: 30px;
  color: #fff;
}

.header-top-details a {
  color: #f0f0f0;
  font-family: "Jost", sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-top-details a:hover {
  color: #fff;
}

.header-top-details i {
  margin-right: 5px;
}

.header-top-details-item {
  margin-right: 10px;
}

.header-top-details-item a i {
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-top-details-item a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner-section {
  padding: 100px 0 115px 0;
}

.banner-title-top {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 30px;
}

.banner-title-top span {
  color: #0099ff;
}

.banner-title {
  font-size: 63px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.banner-title-details {
  font-size: 20px;
  color: #000;
  margin-bottom: 40px;
}

.banner-img {
  width: 100%;
  -webkit-animation: banner-animation 10s infinite linear;
          animation: banner-animation 10s infinite linear;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.banner-img:hover {
  -webkit-animation: none;
          animation: none;
}

.btn-1 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #0099ff;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-1:hover {
  color: #fff;
  background-color: #f14d5d;
}

.btn-2 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
  color: #0099ff;
  border: 1px solid #0099ff;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
}

.btn-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.5px;
  background-color: #f14d5d;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-2:hover {
  color: #fff;
  border-color: #f14d5d;
}

.btn-2:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.counter-section .container {
  background-color: #0099ff;
  border-radius: 5px;
  padding: 50px 30px;
}

.counter-title {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 8px;
}

.counter-title-details {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.section-title-area {
  margin-bottom: 80px;
}

.section-title-top {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #0099ff;
  margin-bottom: 5px;
  display: inline-block;
}

.section-title-top::before {
  content: "";
  position: absolute;
  right: -62px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: #0099ff;
}

.section-title {
  font-size: 50px;
  font-weight: 600;
}

.work-section {
  padding: 115px 0;
}

.work-item {
  position: relative;
  top: 0;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000;
  padding: 50px 20px 30px 20px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.work-item:hover {
  top: -10px;
  border-color: #0099ff;
}

.work-item:hover .work-item-number {
  background-color: #0099ff;
}

.work-item:hover .work-item-btn {
  color: #0099ff;
}

.work-item:hover .work-item-btn i {
  color: #0099ff;
}

.work-item i {
  color: #0099ff;
  font-size: 55px;
}

.work-title {
  margin: 25px 0;
}

.work-title-details {
  font-size: 18px;
  margin-bottom: 20px;
}

.work-item-number {
  position: absolute;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #000;
  font-size: 28px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.work-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.work-item-btn i {
  font-size: 30px;
  margin-left: 10px;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=style.css.map */