.btn-1 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: $main-color;
  border: 1px solid $main-color;
  color: #fff;
  overflow: hidden;
  transition: 0.4s;
  &:hover {
    color: #fff;
    background-color: $color-2;
    border: 1px solid $color-2;
  }
}
.btn-2 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
  color: $color-2;
  border: 1px solid $color-2;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
  z-index: 1;
  &:hover {
    color: #fff;
    background-color: $color-2;
  }
}

.btn-3 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}
.btn-4 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  overflow: hidden;
  transition: 0.4s;
  &:hover {
    color: #fff;
    background-color: $color-2;
    border: 1px solid $color-2;
  }
}
.btn-5 {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  background-color: $color-2;
  border: 1px solid $color-2;
  color: #fff;
  overflow: hidden;
  transition: 0.4s;
  &:hover {
    color: #fff;
    background-color: $main-color;
    border: 1px solid $main-color;
  }
}
.btn-6 {
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
  color: $color-2;
  border: 1px solid $color-2;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
  z-index: 1;
  &:hover {
    color: #fff;
    background-color: $main-color;
    border: 1px solid $main-color;
  }
}

.grid-list-btn-area {
  display: flex;
  align-items: center;
}
.grid-list-btn {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  i {
    padding: 4px;
    color: #000;
    font-size: 25px;
  }
}
.grid-btn {
  &.active {
    background-color: $color-2;
    border-color: $color-2;
    i {
      color: #fff;
    }
  }
}
.list-btn {
  &.active {
    background-color: $color-2;
    border-color: $color-2;
    i {
      color: #fff;
    }
  }
}
