/* demo-section  start */
// demo-header-section  start
.demo-header-section {
  background-color: #fff;
  margin-bottom: 0 !important;
  padding-bottom: 76px;
  .header-bottom {
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.1);
    &.active {
      box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.3);
    }
  }
  .logo-area {
    margin-right: 0;
  }
  .navbar {
    display: block;
  }
  .navbar-nav {
    .nav-item {
      margin: 0 20px;
      .nav-link {
        font-size: 17px;
        transition: 0.6s;
      }
    }
  }
  .header-navbar {
    justify-content: space-between;
  }
}
// demo-header-section  end

// demo-banner-section  start
.demo-banner-section {
  background-color: #f0f6fb;
  overflow: hidden;
}
.demo-banner-title {
  font-size: 85px;
  margin-bottom: 30px;
  color: $main-color;
}
.demo-banner-details {
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.demo-details-item-area {
  display: flex;
  margin-top: 30px;
}
.demo-details-item {
  text-align: center;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.demo-details-item-number {
  font-size: 40px;
  font-weight: 600;
  line-height: 1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
// demo-banner-section  end

// demo-section  start
.demo-section {
  padding-top: 100px;
}
.demo-area-coming {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-2;
  background-color: $color-2;
  border-radius: 5px;
  transition: all 0.4s;
  &:hover {
    transform: translateY(-5px);
    .demo-area-coming-title {
      color: $main-color;
    }
  }
}
.demo-area {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  overflow: hidden;
  &:hover {
    transform: translateY(-5px);
    .demo-img-area {
      &::before {
        opacity: 0.4;
        visibility: visible;
      }
      .btn-1 {
        opacity: 1;
        visibility: visible;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
  a {
    display: block;
  }
}
.demo-area-2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  .demo-img {
    width: 400px;
    height: auto;
  }
}
.demo-img-area {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  .btn-1 {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-45%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
}
.demo-big-size {
  height: 530px;
}
.demo-small-size {
  height: 280px;
  .btn-1 {
    padding: 10px 20px;
  }
}
.demo-img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  object-position: top;
}
.demo-title {
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #e7e7ec;
  border-bottom: 1px solid #e7e7ec;
}
.demo-area-coming-title {
  transition: 0.4s;
}
.inner-page-area {
  padding-top: 100px;
}
// demo-section  end

// core-features-section  start
.core-features-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.core-features-img {
  width: 95px;
  height: 95px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(37, 43, 55, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(37, 43, 55, 0.15);
  }
}
.core-features-title {
  font-size: 17px;
}
.core-features-item {
  text-align: center;
}
// core-features-section  end

// demo-footer-section  start
.demo-footer-section {
  padding-top: 80px;
  background-image: url(../images/page-path-bg.jpg);
  @include bg-img;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #031f42;
    opacity: 0.95;
    z-index: -1;
  }
  .demo-banner-title {
    color: #fff;
  }
  .footer-copyright {
    margin: 0;
  }
}
.demo-footer-details {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}
.demo-footer-bottom {
  padding: 30px 0;
  margin-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
// demo-footer-section  end

/* demo-section  end */
