/* instructor-details-section  start */
.instructor-details-section {
  padding-top: 0 !important;
  .instructor-card {
    .course-details-img {
      height: 350px;
      object-position: top;
    }
    .instructor-title {
      font-size: 24px;
      text-align: center;
    }
    .instructor-details {
      font-size: 16px;
      text-align: center;
    }
    .course-info-item {
      color: #000;
      font-size: 16px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #e5e5e5;
      &:last-child {
        border-bottom: none;
      }
      span {
        display: flex;
        align-items: center;
        i {
          color: $main-color;
          margin-right: 5px;
        }
      }
    }
    .course-info {
      margin-bottom: 0;
      margin-top: 15px;
      display: block;
    }
    .instructor-social-item-area {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .instructor-social-title {
      font-size: 18px;
      margin-right: 20px;
    }
    .instructor-social-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .instructor-social-item {
      margin-right: 20px;
      i {
        color: #353535;
        font-size: 16px;
        transition: 0.4s;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .course-details-requirement-item {
    span {
      font-weight: 500;
      font-size: 17px;
    }
  }
  .course-details-requirement-area {
    margin-bottom: 40px;
  }
}
.instructor-info-item {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  &:last-child {
    border-bottom: none;
  }
}
.instructor-all-courses {
  .course-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .course-buyer-area {
    margin-bottom: 10px;
  }
  .course-details-area {
    padding-top: 5px;
  }
}
/* instructor-details-section  end */
