@mixin media($value) {
  @media (max-width: $value) {
    @content;
  }
}
@mixin section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
