//  become-banner-section scss start
.become-banner-section {
  .banner-title {
    margin-bottom: 10px;
  }
}
//  become-banner-section scss end

// become-discover-item scss start
.become-discover-section {
  margin: 60px 0 80px 0;
  .section-title-area {
    margin-bottom: 60px;
  }
}
.become-discover-item {
  height: 100%;
  padding: 30px;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.05);
  transition: 0.4s;
  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 59px rgba(0, 0, 0, 0.08);
  }
}
.become-discover-item-img {
  width: 60px;
}
.become-discover-item-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
// become-discover-item scss end

// become-instructor-section scss start
.become-instructor-section {
  margin-bottom: 60px;
  .section-title-area {
    margin-bottom: 30px;
  }
  .course-details-tab {
    justify-content: center;
    .nav-link {
      font-size: 20px;
    }
  }
  .course-details-desrciption-title {
    font-size: 26px;
  }
  .course-details-desrciption-text {
    font-size: 18px;
  }
}
.course-details-requirement-item {
  color: #575757;
  position: relative;
  padding-left: 30px;
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: $color-2;
    opacity: 0.7;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-color: $color-2;
    z-index: 2;
  }
}
// become-instructor-section scss end

// become-start-section scss start
.become-start-section {
  padding: 60px 0;
}
.become-start-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 38px;
}
.become-start-details {
  font-size: 18px;
  color: #000;
}
// become-start-section scss end
