//  blog-grid-section scsss start
.blog-grid-section {
  margin-bottom: 80px;
  .course-title {
    font-size: 18px;
    margin-bottom: 0;
  }
  .course-info-area {
    margin-bottom: 5px;
  }
  .course-details-area {
    padding: 5px 10px;
  }
  .course-list-search-wrap {
    padding: 15px;
  }
  .course-list-category-wrap {
    padding: 15px;
  }
}
//  blog-grid-section scsss end
