// blog-details-section scsss start
.blog-details-section {
  padding-bottom: 100px;
  .course-details-desrciption-title {
    margin-bottom: 20px;
  }
  .course-details-desrciption-area {
    margin-bottom: 40px;
  }
  .course-category {
    left: 15px;
    top: 15px;
  }
  .course-details-review-react-area {
    display: flex;
    justify-content: end;
  }
  .course-details-desrciption-text {
    margin-bottom: 0 !important;
  }
}
.blog-details-area {
  border: none;
  padding: 0;
  &:hover {
    transform: translateY(0);
    box-shadow: none;
  }
  .course-details-area {
    padding: 15px 0;
  }
  .course-img {
    height: 450px;
    &:hover {
      transform: scale(1);
    }
  }
  .course-title {
    font-size: 30px;
    margin-bottom: 0;
  }
}
.bloger-quote {
  position: relative;
  margin: 60px 0;
  padding: 35px 40px;
  background-color: #f8f8f8;
  border-radius: 5px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: $main-color;
  }
  &::after {
    content: "\f10e";
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    position: absolute;
    right: 30px;
    bottom: 10px;
    line-height: 1;
    font-size: 100px;
    color: #ebebeb;
  }
}
.bloger-quote-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.bloger-quote-user {
  color: $main-color;
}

// category-tag-wrapper scss start
.category-tag-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.category-tag-item {
  margin-right: 8px;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
.category-tag-link {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e5e5e5;
  &:hover {
    color: #000;
    background-color: #d8d8d8;
  }
}
// category-tag-wrapper scss end
// blog-details-section scsss end
