//  blog-grid-section scsss start
.blog-grid-section {
  margin-bottom: 80px;
  .course-title {
    margin-bottom: 0;
  }
  .course-info {
    margin-bottom: 0;
  }
  .course-info-area {
    margin-bottom: 5px;
  }
  .course-details-area {
    padding: 5px 10px;
  }
}
//  blog-grid-section scsss end
