// category-course-section scss start
.category-course-section {
  margin-bottom: 80px;
}
.category-course-top {
  margin-bottom: 60px;
}
.course-available-number {
  color: #000;
}
.course-search-bar {
  width: 350px;
  margin-right: 0;
  margin-left: 0;
}
// category-course-section scss end
