// demo-section scss start
// demo-header-section scss start
.demo-header-section {
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 85px;
  .header-bottom {
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.1);
    &.active {
      box-shadow: 0px 5px 15px 0px rgba(196, 203, 255, 0.3);
    }
  }
  .logo-area {
    margin-right: 0;
  }
  .navbar {
    display: block;
  }
  .navbar-nav {
    .nav-item {
      margin: 0 20px;
      .nav-link {
        font-size: 17px;
        transition: 0.6s;
      }
    }
  }
  .header-navbar {
    justify-content: space-between;
  }
}
// demo-header-section scss end

// demo-banner-section scss start
.demo-banner-section {
  padding: 120px 0;
  background-color: #f0f6fb;
}

.demo-banner-title {
  font-size: 85px;
  color: $main-color;
  margin-bottom: 30px;
}
.demo-banner-details {
  font-size: 35px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.demo-details-item-area {
  display: flex;
  margin-top: 30px;
}
.demo-details-item {
  text-align: center;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.demo-details-item-number {
  font-size: 40px;
  font-weight: 600;
}
// demo-banner-section scss end

// demo-section scss start
.demo-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.demo-area-coming {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e7ec;
  background-color: #f6f9fc;
  border-radius: 5px;
  transition: all 0.4s;
  &:hover {
    transform: translateY(-5px);
    .demo-area-coming-title {
      color: $main-color;
    }
  }
}
.demo-area {
  transition: all 0.4s;
}
.demo-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  &:hover {
    transform: translateY(-5px);
  }
  &.big-size {
    height: 530px;
    object-fit: fill;
    object-position: center;
  }
  &.small-size {
    height: 400px;
    object-fit: fill;
    object-position: center;
  }
}
.demo-title {
  text-align: center;
  margin-top: 15px;
}
.demo-area-coming-title {
  transition: 0.4s;
}
.inner-page-area {
  margin-top: 80px;
}
// demo-section scss end

// core-features-section scss start
.core-features-section {
  padding-bottom: 100px;
}
.core-features-img {
  width: 110px;
  height: 110px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(37, 43, 55, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(37, 43, 55, 0.15);
  }
}
.core-features-title {
  font-size: 17px;
}
.core-features-item {
  text-align: center;
}
// core-features-section scss end

// demo-footer-section scss start
.demo-footer-section {
  padding-top: 100px;
  background-image: url(../images/page-path-bg.jpg);
  @include bg-img;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #031f42;
    opacity: 0.95;
    z-index: -1;
  }
  .demo-banner-title {
    color: #fff;
  }
}
.demo-footer-details {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}
.demo-footer-bottom {
  padding: 40px 0;
  margin-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
// demo-footer-section scss end

// demo-section scss end
