// banner-section scss start
.banner-section {
  overflow: hidden;
}
.banner-details-area {
  padding-right: 65px;
}
.banner-title-top {
  font-family: $jost;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $main-color;
}
.banner-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}
.banner-title-details {
  font-size: 18px;
  color: #000;
  margin-bottom: 40px;
}
.banner-img-area {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 40px;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%) translateY(-80%);
    width: 100px;
    height: 100px;
    background-color: #68acff;
    box-shadow: 0 0 200px 150px $main-color;
    border-radius: 50%;
    z-index: -1;
  }
}
.banner-img {
  transition: 1s;
  height: 620px;

  &:hover {
    animation: none;
  }
}
.banner-quote-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: absolute;
  bottom: 20%;
  left: 0;
  transform: translateY(20%);
  padding: 10px 35px 10px 10px;
  border-radius: 5px;

  i {
    font-size: 27px;
    color: $main-color;
    padding: 8px;
    background-color: rgba(0, 115, 255, 0.15);
    border-radius: 50%;
  }
}
.banner-quote-wrapper-2 {
  left: unset;
  right: 0;
  bottom: 35% !important;
  transform: translateY(35%) !important;
  .banner-quote-title {
    color: $color-2;
  }
  i {
    background-color: #031f42;
    color: #fff;
  }
}
.banner-quote {
  margin-left: 10px;
}
.banner-quote-title {
  color: $main-color;
  font-weight: 600;
}
.banner-quote-details {
  font-size: 15px;
}
.banner-notifiation {
  width: 60px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.banner-notifiation-1 {
  position: absolute;
  left: -30px;
  bottom: 20px;
  width: auto !important;
  border-radius: 0;
  border: none !important;
  z-index: -1;
  animation: banner-dotted 15s 1s linear infinite;
}
.banner-notifiation-2 {
  position: absolute;
  left: 30px;
  top: 45%;
}
.banner-notifiation-3 {
  position: absolute;
  left: 15%;
  top: 25%;
}
.banner-notifiation-4 {
  position: absolute;
  right: 10%;
  top: 28%;
}
.banner-notifiation-5 {
  position: absolute;
  right: 10%;
  bottom: 10%;
}
// banner-section scss end

// process-section scss start
.process-section {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: $main-color;
}
.process-item {
  @include d-flex;
}
.procces-img-area {
  position: relative;
  margin-right: 15px;
}
.process-img {
  width: 60px;
}
.process-details {
  color: #fff;
}
.process-serial {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  @include d-flex;
  background-color: #fff;
  color: $main-color;
}
// process-section scss end

// category-section scss start
.category-section {
  padding-top: 100px;
}
.category-item {
  position: relative;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.05);
  color: #000;
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.4s;
    z-index: -1;
  }
  &:hover {
    color: #000;
    background-color: $color-2;
    transform: translateY(-5px);
    box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.07);
    &::before {
      background-color: $color-2;
      opacity: 0.8;
    }
    .category-title {
      color: #fff;
    }
    .category-details {
      color: rgba(255, 255, 255, 0.836);
    }
    .category-item-bg-img {
      border-radius: 5px;
    }
  }
}
.category-item-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  z-index: -2;
}
.category-img {
  width: 50px;
  margin-bottom: 20px;
}
.category-title {
  margin-bottom: 10px;
  transition: 0.4s;
}
.category-details {
  font-size: 15px;
  transition: 0.4s;
}

// category-section scss end

//  course-section scss start
.course-area {
  border: 1px solid #e7e7ec;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.course-details-area {
  padding: 5px;
}
.course-type {
  display: flex;
  justify-content: end;
}
.course-type-link {
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  &.active {
    background-color: $color-2;
    color: #fff;
  }
}
.course-type-item {
  margin-right: 10px;
}
.course-img-area {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}
.course-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
  transition: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}
.course-category {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 4px 8px;
  font-size: 13px;
  background-color: $main-color;
  border-radius: 5px;
  color: #fff;
}
.course-buyer-img {
  width: 40px;
  border-radius: 50%;
}
.course-buyer-area {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.course-buyer-title {
  font-size: 14px;
}
.course-rating {
  display: flex;
  align-items: center;
}
.course-rating-2 {
  .course-rating-item {
    i {
      font-size: 16px;
    }
  }
}
.course-rating-3 {
  .course-rating-item {
    i {
      font-size: 18px;
      color: #ffb606;
      margin-right: 3px;
    }
  }
}
.course-rating-item {
  i {
    font-size: 13px;
    color: #ffb606;
    margin-right: 3px;
  }
}
.course-buyer-img {
  margin-right: 12px;
}
.course-sale {
  margin-left: 5px;
}
.course-sale-title {
  font-size: 12px;
}
.course-title {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.course-info-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-info {
  display: flex;
  align-items: center;
}
.course-info-item {
  font-size: 13px;
  color: #575757;
  margin-right: 10px;
  display: flex;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
  i {
    font-size: 20px;
    color: $color-2;
    margin-right: 3px;
  }
}
.course-price {
  font-size: 20px;
  color: $main-color;
}
//  course-section scss end

//  choose-section scss start
.choose-section {
  overflow-x: hidden;
}
.choose-item-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 25px;
}
.choose-item-area-2 {
  padding-right: 0;
  padding-left: 25px;
  .choose-item {
    justify-content: start;
    &:nth-child(2) {
      margin-left: 30px;
      margin-right: 0;
    }
  }
  .choose-item-number {
    left: 87%;
    top: -15px;
    padding-left: 12px;
    justify-content: start;
  }
}
.choose-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #fff;
  padding: 15px 30px;
  border: 1px solid #f0f0f0cb;
  box-shadow: 0 5px 70px 0 rgba(9, 29, 62, 0.05);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  &:nth-child(2) {
    margin-right: 30px;
  }
}
.choose-item-number {
  position: absolute;
  left: -18px;
  top: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: $main-color;
  padding-right: 12px;
  padding-bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.choose-item-img {
  width: 50px;
  margin-right: 20px;
}
.choose-img-area {
  text-align: center;
}
//  choose-section scss end

// counter-section scss start
.counter-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $main-color;
}
.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-img {
  width: 50px;
  margin-bottom: 15px;
}
.counter-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
}
.counter-details {
  color: #fff;
}
// counter-section scss end

// instructor-section scss start
.instructor-item {
  position: relative;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #e7e7ec;
  transition: 0.4s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .instructor-social {
      right: 0px;
    }
  }
}
.instructor-details {
  font-size: 15px;
}
.instructor-title {
  margin-bottom: 5px;
  font-size: 20px;
}
.instructor-course-info {
  display: flex;
  margin-top: 10px;
  .course-info-item {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 14px;
    &:last-child {
      margin-right: 0;
    }
    i {
      color: $main-color;
      font-size: 20px;
    }
  }
}
.instructor-img-area {
  overflow: hidden;
  position: relative;
  margin-top: -12px;
}
.instructor-social {
  position: absolute;
  right: -130px;
  bottom: 5%;
  transform: translateY(-5%);
  display: flex;
  background-color: $color-2;
  padding: 8px 15px;
  border-radius: 5px 0 0 5px;
  transition: 0.4s;
}
.instructor-social-item {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}
.instructor-social-link {
  i {
    color: #fff;
    font-size: 15px;
  }
}
.instructor-text-details {
  padding: 0 10px;
  padding-top: 10px;
}
.instructor-img {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}
// instructor-section scss end

// testimonial-section scss start
.testimonial-item {
  position: relative;
  padding-left: 35px;
  overflow: hidden;
}
.testimonial-item-img {
  width: 320px;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
}
.testimonial-item-img-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
  display: none !important;
}
.testimonial-text {
  position: absolute;
  left: 310px;
  top: 50%;
  transform: translateY(-50%);
  width: 460px;
  background-color: #fff;
  padding: 25px 30px 25px 60px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 40px 0 rgba(9, 29, 62, 0.07);
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: $main-color;
  }
}
.testimonial-details {
  margin-bottom: 15px;
}
.testimonail-user {
  display: flex;
  align-items: center;
}
.testimonail-user-title {
  font-weight: 400;
}
.testimonial-rating {
  display: flex;
  i {
    font-size: 20px;
    margin-right: 3px;
    color: $main-color;
  }
}
.slider-btn-area {
  display: flex;
  margin-top: 50px;
  .btn-1 {
    padding: 8px 12px;
    border: 1px solid $main-color;
    &:hover {
      border: 1px solid $color-2;
    }
    i {
      color: #fff;
      font-size: 25px;
    }
  }
}
// testimonial-section scss end

// teacher-section scss start
.teacher-section {
  overflow-x: clip;
  .container {
    .row {
      position: relative;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  background-color: $main-color;
}
.teacher-title {
  color: #fff;
  font-size: 50px;
  margin-bottom: 15px;
}
.teacher-details {
  color: #fff;
  margin-bottom: 40px;
}
.teacher-img-area {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
// teacher-section scss end

// blog-section scss start

.blog-area {
  transition: 0.4s;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .course-img {
    height: 200px;
  }
  .course-info {
    margin-bottom: 10px;
  }
  .course-info-item {
    font-size: 15px;
    i {
      font-size: 22px;
      color: $main-color;
    }
  }
}
// blog-section scss end

// sponsor-section scss start
.sponsor-section {
  .slick-arrow {
    display: none !important;
  }
  .section-title-area {
    margin-bottom: 40px;
  }
}
.sponsor-img-area {
  text-align: center;
  display: flex !important;
  justify-content: center;
}
.sponsor-img {
  width: 110px;
  height: 110px;
  position: relative;
  &:hover {
    img {
      &.front-img {
        top: -150%;
      }
      &.back-img {
        top: 50%;
      }
    }
  }
  img {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    &.front-img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
    &.back-img {
      top: 150%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
  }
}
// sponsor-section scss end
