.instructor-list-section {
  margin-bottom: 80px;
  .instructor-item {
    margin-bottom: 40px;
  }
  .course-list-category-wrap {
    border-bottom: none;
  }
  .pagination-section {
    margin-top: 20px;
  }
}
