// sing-up-section scss start
.sing-up-section {
  .sing-up-wrapper {
    height: 100vh;
    --bs-gutter-x: 1.5rem;
  }
}
.sign-up-title-top {
  color: #fff;
  font-size: 55px;
  line-height: 1.3;
  margin-bottom: 50px;
}
.sign-up-img-wrapper {
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../images/registration-bg.jpg);
  @include bg-img;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    opacity: 0.85;
    z-index: -1;
  }
}
.trusted-details {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.truted-people {
  position: relative;
  display: flex;
  margin-right: 10px;
  li + li {
    margin-left: -15px;
  }
}
.people-add {
  margin-left: 0 !important;
  i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #fff;
    @include d-flex;
  }
}
.trusted-people-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.sign-up-details-wrapper {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .header-logo {
    margin: 0;
  }
  .home-logo {
    margin: 0 0 15px 0;
  }
  .header-search-bar {
    margin: 0 0 20px 0;
    width: 100%;
    border-radius: 5px;
    .form-control {
      padding: 25px 20px 5px 42px;
      &:focus {
        border: 1px solid rgba(0, 115, 255, 0.5) !important;
        box-shadow: 0 0 5px rgba(0, 115, 255, 0.3) !important;
      }
    }
    .header-search-bar-icon {
      height: 25px;
      width: 25px;
      right: 0;
      left: 10px;
      i {
        font-size: 25px;
      }
    }
  }
  .header-search-bar-input {
    border: 1px solid #ced4da;
  }
  .form-floating > label {
    left: 30px;
    color: #444;
  }
}
.password-view-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  i {
    font-size: 20px;
    color: #444;
  }
}
.la-eye {
  &.remove {
    display: none;
  }
}
.la-eye-slash {
  display: none;
  &.active {
    display: block !important;
  }
}
.sign-up-form {
  margin-top: 20px;
  margin-bottom: 20px;
  .form-floating > .form-control:focus ~ label,
  .form-floating > .form-control:not(:placeholder-shown) ~ label,
  .form-floating > .form-select ~ label {
    opacity: 0.65;
    color: $main-color;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
}
.sign-up-btn {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  padding: 13px 40px;
}
.sign-up-title {
  font-weight: 400;
  margin-bottom: 10px;
}
.sign-up-account-alert {
  font-size: 15px;
  &-link {
    text-decoration: underline;
    margin-left: 3px;
    color: $main-color;
  }
}
.sign-up-account-forget {
  color: #575757;
}
.or {
  text-align: center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: #ced4da;
    z-index: -1;
  }
  span {
    padding: 0 20px;
    background-color: #fff;
  }
}
.sign-up-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.sign-up-social-item {
  width: 49%;
}
.sign-up-social-link {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: 0.4s;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  i {
    font-size: 18px;
    margin-right: 8px;
  }
}
.google {
  i {
    color: #c5221e;
  }
  &:hover {
    color: #000;
  }
}
.facebook {
  background-color: #527bcb;
  border: 1px solid #527bcb;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

// sing-up-section scss end
