/* reset start */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $jost;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
  font-size: 16px;
  color: #575757;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: 0.4s;
  &:hover {
    color: $main-color;
  }
}
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
span {
  margin-bottom: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  background-color: transparent;
  color: #fff;
}
input {
  &:focus {
    outline: none;
  }
}
.form-select {
  &:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }
}
.row {
  --bs-gutter-x: 15px;
}
.form-floating > .form-control {
  height: auto;
}
/* reset end */
